* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: skyblue;
}
.wrapper {
  background-color: black;
  width: 550px;
  /* height: 100px; */
  border-radius: 20px;
  padding: 35px 40px;
}
.wrapper header {
  color: wheat;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}
header h2 {
  font-size: 1.6rem;
}
header .column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
header .column span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}

.piano-keys {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.piano-keys .key {
  position: relative;
  cursor: pointer;
  list-style: none;
  color: grey;
  text-transform: uppercase;
}
.piano-keys .white {
  width: 4.3rem;
  height: 14.4rem;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white:active {
  box-shadow: inset -5px -5px 20px grey;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys .black {
  width: 2.7rem;
  height: 8.75rem;
  margin: 0 -22px 0 -22px;
  z-index: 2;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}
.piano-keys .black:active {
  box-shadow: inset -5px -5px 20px rgb(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, #333, #000);
}
.piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 1.13rem;
  text-align: center;
}
